# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/

# Android related
android/.gradle/
android/local.properties
android/key.properties
*.keystore
*.jks

# iOS related
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Build outputs
build/
*/build/

# Misc
*.log
